[2016-12-15 04:38] venkatramachandran opened #6 "Unable to run `make bootstrap`"
Environment: Ubuntu 14.04.1
While running `make bootstrap`, I get the following error:

[code]

What am I missing here?

[2016-12-15 05:47] ren545457803 opened #7 "Windows can't run make"
don't have command 'run'

[2016-12-15 06:22] chowaikong opened #8 "missing string resource named 'koala_endpoint'"
[code]
It's OK not using this meta-data?

[2016-12-15 07:13] rahultailor commented on #6
I am also having same issue.

[2016-12-15 08:00] wuzhenda commented on #6
It seems kickstarter has replace some trully used java file with false java file. but the Makefile was not update .

[2016-12-15 08:17] xiechuanyu opened #9 "Error:(356, 28) No resource found that matches the given name (at 'value' with value '@string/koala_endpoint')."
Error:(356, 28) No resource found that matches the given name (at 'value' with value '@string/koala_endpoint').

[2016-12-15 11:08] hotchemi commented on #9
You should try `make bootstrap` as described https://github.com/kickstarter/android-oss#getting-started.

[2016-12-15 11:10] hotchemi commented on #8
You should try `make bootstrap` as described https://github.com/kickstarter/android-oss#getting-started.

[2016-12-15 12:08] picsi opened #10 "Add to F-Droid"
It would be neat to have this at the F-Droid repository: https://f-droid.org/

[2016-12-15 14:29] Jawnnypoo commented on #10
I doubt this will ever be possible since the app contains dependencies that are not FOSS, such as Google Play Services. See https://f-droid.org/wiki/page/Inclusion_Policy

[2016-12-15 16:41] luoser commented on #7
ah yes. unfortunately we don't use Windows for development on our team so we can definitely use some suggestions on how we can improve on that front!

[2016-12-15 16:45] luoser commented on #8
yep on the `make bootstrap`, except it will probably fail at the moment. we're working on a submodule fix right now #11 then you should be g2g

[2016-12-15 16:45] #8 closed

[2016-12-15 16:49] luoser commented on #6
will be fixed once #11 merges!

[2016-12-15 17:31] #9 closed

[2016-12-15 17:32] #6 closed

[2016-12-15 17:36] AuspeXeu commented on #7
I am currently using Bash on Ubuntu on Windows for these purposes

https://msdn.microsoft.com/en-gb/commandline/wsl/about

[2016-12-15 20:14] lorenzo-camaione opened #15 "Cannot compile project"
Hello,
I just downloaded the project and tried to compile it but I got some errors:
1) No resource found that matches the given name (at 'value' with value '@string/koala_endpoint'). [main/AndroidManifest.xml:428]
 to fix it fast I changed @string/koala_endpoint with an empty string and then compiled it again.
2) error: cannot find symbol class KSWebViewClient [CheckoutActivity:46]
I'm running mac

[2016-12-15 20:22] lorenzo-camaione commented on #15
Ok guys, I missed "make bootstrap".

[2016-12-15 20:22] #15 closed

[2016-12-16 00:56] xiechuanyu commented on #9
Thanks, but how can i run '_make bootstrap_' on Windows ...

[2016-12-16 06:27] timkaboya opened #16 "Cant run make on Linux: Recipe for target "bootstraps, secrets' failed"
Hello, I am unable to run make on the project.
Getting errors on bootstrap and secrets.
What am I missing.

I am running this on Linux machine. Attached is the output am getting on 'make bootstrap'

[make.txt](https://github.com/kickstarter/android-oss/files/656490/make.txt)

[2016-12-16 07:47] ren545457803 commented on #7
@AuspeXeu Thanks

[2016-12-16 09:06] rabbpigPan commented on #16
I met the same error
fatal: repository 'https://github.com/kickstarter/native-secrets/' not found

[2016-12-16 09:36] AnswerZhao commented on #16
@rabbpigPan Yeah, me too , how resolve it ?

[2016-12-16 13:13] Coder-DanielHan opened #17 "make bootstrp error"
bogon:android-oss-master DanielHan$ make bootstrap
git submodule sync --recursive
fatal: Not a git repository (or any of the parent directories): .git
make: *** [submodules] Error 128
bogon:android-oss-master DanielHan$

[2016-12-16 14:02] droanmalik commented on #17
I was getting the same error. Downloading the project using `git clone` fixed it

[2016-12-16 14:41] Coder-DanielHan commented on #17
@droanmalik I just downloaded the zip

[2016-12-16 15:29] mbrandonw commented on #17
@Coder-DanielHan yeah, cloning is necessary since we use submodules for some dependencies. lemme know if that works...

[2016-12-16 15:41] mhussien86 opened #18 "Application architecture"
I'm little bit confused about the application architecture if we can add more about the application architecture in read me file will be awesome.

[2016-12-16 15:52] Coder-DanielHan commented on #17
which branch should I clone?

[2016-12-16 15:55] mbrandonw commented on #17
`master` should be fine. make sure to pull the newest.

[2016-12-16 18:24] luoser commented on #18
check out our native documentation: https://github.com/kickstarter/native-docs. note, it's very slim right now, but we will be updating that repo as we go along

[2016-12-16 18:27] mhussien86 commented on #18
Okay i will give it a look thanks

[2016-12-16 18:59] Jawnnypoo opened #19 "apply plugin: 'com.android.application' twice"
`apply plugin: 'com.android.application'` is found both at the top and the bottom of the app's `build.gradle`.  Is this intentional, or something being overlooked? Just curious. Happy to make a PR if it is not on purpose 👍

[2016-12-16 20:43] luoser commented on #19
good catch! we are in the midst of upgrading everything as needed (seeing as how we're still targeting `23`) so this, as well as many of the upgrade-oriented PR's, will probably be merged in as one general PR on our end to get up to speed

[2016-12-17 02:52] dingziqian opened #20 "Cant sing up with email"

[2016-12-17 03:10] Coder-DanielHan commented on #17
It's ok.But it stucked at cloning material-design-icons

git submodule sync --recursive
Synchronizing submodule url for 'vendor/material-design-icons'
git submodule update --init --recursive || true
Cloning into '/Users/DanielHan/AndroidStudioProjects/android-oss/vendor/material-design-icons'...

[2016-12-17 03:30] chowaikong commented on #8
`make bootstrap` still failing here.
[code]

[2016-12-17 03:34] Coder-DanielHan commented on #8
@chowaikong use git clone,don't download the zip

[2016-12-17 03:35] chowaikong commented on #8
I am using git clone.

[2016-12-17 06:21] fisache opened #21 "Can't login with any auth and see any projects."
I installed your app according to 'Getting Started'.
But I can't do anything after showing base activity.
How to solve it?
Thanks.

[2016-12-17 12:48] rockgecko-development commented on #19
Cheers, I wasn't able to run the unit tests (got a 'no tests found' error) until I removed the second `apply plugin: 'com.android.application' `

[2016-12-17 16:08] zhoujingheng opened #23 "D:\AndroidStudioProjects\android-oss\app\build\intermediates\manifests\full\externalMin21\debug\AndroidManifest.xml"
Error:(356, 28) No resource found that matches the given name (at 'value' with value '@string/koala_endpoint').
Error:(356, 28) No resource found that matches the given name (at 'value' with value '@string/koala_endpoint').

[2016-12-17 16:22] zhoujingheng opened #24 "can't not find some class"
Error:(14, 34) 错误: 找不到符号
符号:   类 Secrets
位置: 程序包 com.kickstarter.libs.utils

Error:(46, 32) 错误: 找不到符号
符号:   类 KSWebViewClient
位置: 程序包 com.kickstarter.services
Error:(71, 103) 错误: 程序包KSWebViewClient不存在

[2016-12-17 17:13] luoser commented on #23
can you try running `make bootstrap`?

[2016-12-17 17:17] zhoujingheng commented on #23
yes,but make not found;my system is windows10.

[2016-12-17 18:44] michaldrabik commented on #16
Having similar issue :)

[code]

[2016-12-17 18:46] michaldrabik commented on #23
@zhoujingheng Check #7.

[2016-12-17 18:48] luoser commented on #21
as noted in our Getting Started section,

we have set up the repo so that you can build the project, but without any server data. our future todo is to provide mock server data, so stay tuned

[2016-12-17 18:49] luoser commented on #20
sadly we don't support sign up in our open source app. you can sign up at http://www.kickstarter.com/ or via our apps!

[2016-12-17 18:49] #20 closed

[2016-12-17 18:49] #21 closed

[2016-12-17 18:50] #18 closed

[2016-12-17 18:51] luoser commented on #23
@michaldrabik thanks for pointing to that issue, was bout to do the same! we'll keep that Windows thread issue open for now to hold the Windows `make` discussions

[2016-12-17 18:52] #23 closed

[2016-12-17 18:52] luoser commented on #10
yep, @Jawnnypoo hit the nail on the head. thanks for the suggestion tho!

[2016-12-17 18:52] #10 closed

[2016-12-18 02:15] fisache commented on #21
Ok, thanks :)

[2016-12-18 05:59] ashishbhandari commented on #7
good to install cygwin on windows and run that command.. :)

[2016-12-18 12:16] MinaSamy commented on #24
Yes, I have the same problem, for example the **KSWebViewClient.java** file is included in the android-**oss/config** directory but it's not loaded in Android Studio

[2016-12-18 12:18] LeoHeo commented on #24
I founded solution

1. go to git Clone root directory
2. command `make`

[2016-12-18 12:55] MinaSamy commented on #9
You can download GNU Make for windows from here:
http://gnuwin32.sourceforge.net/packages/make.htm

[2016-12-19 02:13] aigeek opened #26 "can not find @string/koala_endpoint"
Error:(356, 28) No resource found that matches the given name (at 'value' with value '@string/koala_endpoint').

[2016-12-19 02:52] mbrandonw commented on #26
Hi! Did you run `make bootstrap` before building?

[2016-12-19 07:01] foreveronly commented on #16
@michaldrabik  Me too

[2016-12-19 10:56] michaldrabik commented on #16
Not sure if the problem is on our side or not but it's frustrating that we can't get the project going. ;(

[2016-12-20 05:07] ngochuu90 opened #28 "How to "make bootstrap" in windows"
Hello

I have checkout android-oss by Github Desktop. But I cannot "make bootstrap" in Windows
![cmd](https://cloud.githubusercontent.com/assets/9895294/21338904/dff6d80e-c6ac-11e6-92cb-436bc0e6eea5.PNG)

[2016-12-20 07:11] Qamar4P commented on #7
This work for me. Run
**D:\CodeLab\Android-oss>**`"C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin\nmake" bootstrap`

[2016-12-20 07:14] michaldrabik commented on #28
@ngochuu90 #7 . But you'll probably encounter #16 on the way.

[2016-12-20 07:36] Qamar4P commented on #16
Similar issue after running `nmake bootstrap` and entering username and password
[code]

[2016-12-21 17:01] luoser commented on #24
@zhoujingheng did @LeoHeo 's steps work for you?

[2016-12-22 01:03] LetItRock commented on #16
@michaldrabik, @Qamar4P you could manually createte directory and copy/rename files by yourself, and after that just run bootstrap script which is located in script folder under root folder... first check Makefile line 18...

[2016-12-22 01:19] githubwyj commented on #16
Me too

[2016-12-22 02:29] zhoujingheng commented on #24
@luoser NO,Windows no command make.

[2016-12-22 07:18] Qamar4P commented on #16
@LetItRock thanks I think this issue should close now.
1. Did copy and rename files manually refered in Makefile eg. "mkdir(Create directory) -p app/src/debug/res/values and  cp (Copy) app/src/main/java/com/kickstarter/libs/utils/Secrets.java.example app/src/main/java/com/kickstarter/libs/utils/Secrets.java
2. Run Window Bash (in my case Git Bash) as administrator and run ./script/bootstrap
Then b

[2016-12-22 07:34] Qamar4P commented on #7
Hey guys thanks to @LetItRock
1. Did copy and rename files manually refered in Makefile eg. "mkdir(Create directory) -p app/src/debug/res/values and  cp (Copy) app/src/main/java/com/kickstarter/libs/utils/Secrets.java.example app/src/main/java/com/kickstarter/libs/utils/Secrets.java
2. Run Window Bash (in my case Git Bash) as administrator and run ./script/bootstrap

Then build project works in Wi

[2016-12-22 08:58] timkaboya opened #30 "Unable to run ./script/bootstrap - Function Not Found"
So I encountered #16 but on manually doing the file commands, that seemed to fix it.
Now this script `./script/bootstrap` is giving this error.

[code]
It seems as tho its failing on function "say" in the script. Whats that function for?

@Kickstarter This code you threw up online is not running...

[2016-12-22 10:23] LetItRock commented on #30
@timkaboya did you tried to run app without this bootstrap?

[2016-12-22 14:27] aigeek commented on #26
1.download the project
2.make bootstrap
3.open it with android studio.
It's my fault that I did 2 before 3..
Thank you.
But there is no data from server..It's not very convenient.

[2016-12-22 18:19] luoser commented on #26
@aigeek yeah, the oss app will not get any data from the server, but we are going to provide mock data at some point so stay posted!

[2016-12-22 18:19] #26 closed

[2016-12-22 18:20] luoser commented on #19
#29 thanks y'all

[2016-12-22 18:20] #19 closed

[2016-12-22 18:23] luoser commented on #24
@zhoujingheng ah, our team doesn't develop on Windows so we have been lacking in Windows support. please see https://github.com/kickstarter/android-oss/issues/16 for some guidance

[2016-12-23 07:59] liuruimilk opened #32 "Error:Execution failed for task ':app:processExternalMin21DebugGoogleServices'. > No matching client found for package name 'com.kickstarter.kickstarter.debug'"
when i build the app, get a error ->
Error:Execution failed for task ':app:processExternalMin21DebugGoogleServices'.

how can i fix the problem?

[2016-12-23 13:40] ashokbg opened #33 "google-services.json is missing"
because  of not having google-services.json i am getting error what to do for that

[2016-12-23 14:31] luoser commented on #32
ah. for now go to `View > Tool windows > Build variants` and switch the build variant to anything ending in `Release`.  the package name in the `google-services.json` we're copying over only matches `com.kickstarter.kickstarter` release names so looks like that prevents compiling.

will work on a fix for this asap

[2016-12-23 14:33] luoser commented on #33
can you try running `make bootstrap`? we've updated the `Makefile` recently

[2016-12-23 19:06] ashokbg commented on #33
recently updated Makefile  only i am using then also still same issue.

[2016-12-23 20:37] luoser commented on #32
@liuruimilk this should be fixed now for all build variants. can you please try pulling master, running `make bootstrap` then building the project again? thanks!

[2016-12-23 20:39] luoser commented on #33
can you please pull the latest `master`, try `make bootstrap` again, then build the project in android studio? the gradle process should be generating the appropriate `google-services.json` file for you

[2016-12-24 03:25] ashokbg commented on #33
pulled recent code. and also checked with different build  variants getting same error:
Error:Execution failed for task ':app:processInternalPre21ReleaseGoogleServices'.

   Searched Location:
  F:\android-oss\app\src\internalPre21\release\google-services.json
  F:\android-oss\app\src\release\internalPre21\google-services.json
  F:\android-oss\app\src\internalPre21\google-services.json
  F:\androi

[2016-12-24 08:01] ashokbg commented on #33
its my mistake..

[2016-12-24 08:01] #33 closed

[2016-12-24 17:27] tasomaniac opened #34 "BUILD_DATE dynamic field causes slower builds"
`BUILD_DATE` is dynamically created out of current date. It includes seconds as well.
This means that every time someone builds, `BuildConfig` class changes. That causes java compilation.

This is not necessary while running tests and changing only xml layouts. In those cases, the builds can be faster.

To prevent it, you can persist the date (and even git-sha) inside a file in `build` folder. And

[2016-12-26 06:22] amorenew opened #35 "project structure"
hi
i know it's not a related to code
but any article or tutorial that can guide me to build same structure modelview, observables,etc
thanks

[2016-12-27 03:06] YadoEmoji opened #36 "Error:Execution failed for task ':app:processExternalMin21DebugGoogleServices'. > File google-services.json is missing. The Google Services Plugin cannot function without it."
Error:Execution failed for task ':app:processExternalMin21DebugGoogleServices'.

   Searched Location:
  F:\android\android-oss-master\app\src\externalMin21\debug\google-services.json
  F:\android\android-oss-master\app\src\debug\externalMin21\google-services.json
  F:\android\android-oss-master\app\src\externalMin21\google-services.json
  F:\android\android-oss-master\app\src\debug\google-service

[2016-12-27 05:45] liuruimilk commented on #32
@luoser thank you.it's works now.but ,i want to install the app to see the effect.there is no release.keystore. so,how to run the app without no debug and no release.keystore.
forgive my Chinglish.

[2016-12-27 05:51] liuruimilk commented on #36
do not download zip just clone, run make bootstrap.and then,you'll find another problem what the same with me.

[2016-12-27 06:08] liuruimilk commented on #32
@luoser that's ok,i have downloaded apk,thanks.

[2016-12-27 08:48] farmazon3000 opened #37 "make: *** No rule to make target `bootstrap'. Stop."
I'm following the "Get Started". When I run:
```make bootstrap```
 I'm getting an error:
```make: *** No rule to make target `bootstrap'.  Stop.```

[2016-12-27 09:47] liuruimilk commented on #32
it works,thank you.

[2016-12-27 09:53] liuruimilk commented on #37
you run this command in the folder without .git.

[2016-12-27 10:31] #37 closed

[2016-12-27 15:28] #32 closed

[2016-12-27 15:29] luoser commented on #36
@YadoEmoji please let us know if @liuruimilk 's instructions work for you

[2016-12-28 13:33] malaki12003 commented on #26
How can I make on windows?

[2016-12-29 21:03] luoser commented on #35
you can find our team's documentation here: https://github.com/kickstarter/native-docs.

it is definitely very slim right now, especially in terms of android documentation, but when we write more we will add it to that repo!

[2016-12-30 08:03] #35 closed

[2017-01-03 09:11] narakai opened #41 "repository 'https://github.com/kickstarter/native-secrets/' not found"
I have encountered issue as below, please kindly advise:

git clone https://github.com/kickstarter/native-secrets vendor/native-secrets
Cloning into 'vendor/native-secrets'...
remote: Repository not found.
fatal: repository 'https://github.com/kickstarter/native-secrets/' not found

[2017-01-03 14:51] mbrandonw commented on #41
We should do a better job of suppressing that error message, but it shouldn't cause you any problems. The project should build without access to that private repo. Can you give it a shot?

[2017-01-04 02:33] narakai commented on #41
Build successfully this time. I have changed some gradle setting and the build failure was caused by this mistake. Thanks for the advice.

[2017-01-04 11:19] ababavali23 commented on #36
Still i am facing same issue

[2017-01-04 11:39] farmazon3000 commented on #36
How are you "building the app"?

[2017-01-05 16:23] #41 closed

[2017-01-06 21:00] hodannyy commented on #30
@timkaboya I ran into the same issue and have a fix. Check out my pull request #43.

[2017-01-07 02:30] bnvinay92 opened #45 "Why do you reassign view model onResume()?"
Trying to understand the purpose of the following code in the onResume() function of your BaseActivity:

[code]

In which scenario(s) does viewModel end up being null here?

And isn't the null check right after reassigning viewModel a little too defensive?

[2017-01-11 05:26] vipulasri opened #46 "proguard file?"
I don't find your proguard file. I am to know curious what all proguard rules did you write in proguard in order to achieve the apk size of around 4MB.

[2017-01-11 20:29] amitsri20 opened #47 "Getting error on "make bootstrap""
Getting below error on "make bootstrap":

`git submodule sync --recursive
Synchronizing submodule url for 'vendor/material-design-icons'
git submodule update --init --recursive || true
git submodule foreach git checkout
Entering 'vendor/material-design-icons'
# Copy java secrets over. Fallback to example secrets if they don't exist.
(Skipping secrets.)
cp vendor/native-secrets/android/Secrets.java

[2017-01-18 06:36] mbrandonw commented on #47
Our bootstrap is pretty tightly coupled to the way we work as a team, which means it mostly only supports macOS and requires some things to be installed first like ruby. We don't have any plans to make a more universal bootstrap, so it might require you to perform some of the steps manually in a console.

Sorry about that!

Gonna close for now, but let us know you have more questions...

[2017-01-18 06:36] #47 closed

[2017-01-18 06:38] mbrandonw commented on #7
Thanks for the tips for getting things to work in windows! Gonna close this for now, but will use this as a reference for when the issue comes up again!

[2017-01-18 06:38] #7 closed

[2017-01-18 06:40] mbrandonw commented on #17
weird, not sure what is up with [material icons](https://github.com/google/material-design-icons). maybe github was having a bad day?

gonna close this for now, but let us know if you have more questions!

[2017-01-18 06:40] #17 closed

[2017-01-19 22:01] dancrisan commented on #36
I have the same issue, can we go through a step by step process of how are you "building" the app?

[2017-01-19 22:04] dancrisan commented on #36
Ok so issue solved: if you download as a zip, make sure you have git installed and once in the project directory, you can just do "git init" and then "make bootrap". Then close android studio if it's open, then you can open the project again and run it normally.

[2017-01-19 22:05] dancrisan commented on #36
If you didn't donwload as a zip, make sure you run "make bootstrap" before opening the app within android studio.

[2017-01-19 22:09] dancrisan opened #49 "Unable to get FacebookContentProvider"
Hey, I get this error as soon as i try to run the app :  java.lang.RuntimeException: Unable to get provider com.facebook.FacebookContentProvider: java.lang.ClassNotFoundException: Didn't find class "com.facebook.FacebookContentProvider" on path: DexPathList[[zip file "/data/app/com.kickstarter.kickstarter.debug-1/base.apk"],nativeLibraryDirectories=[/data/app/com.kickstarter.kickstarter.debug-1/li

[2017-01-21 09:00] BigKarel commented on #36
@dancrisan misspell: make boostrap

[2017-01-23 20:20] luoser commented on #49
hm. if you downloaded the repo can you please try cloning it instead and running `make bootstrap` again?

[2017-01-26 17:49] christopherwright commented on #46
Hi Vipul – we aren't using Proguard so there's nothing special happening here! We tried not to include many rasterized images in the app so that's probably helped us keep the size down.

We're past the 64k method limit too so our code size is fairly large – makes me think that code shrinking might not be the most important tool in keeping APK size low.

[2017-01-26 17:49] #46 closed

[2017-01-31 08:49] saisasanksunkavalli commented on #28
cd into the project repo, Run Window Bash (Git Bash) and run ./script/bootstrap. Then import the project in Android Studio, it will build automatically

[2017-02-10 06:19] PatidarNikunj commented on #28
Hi,

I'm not able to RUN bootstrap, getting errors:

[code]

Please let me know how to do and solve these errors and start import and run project in my Android Studio.

Thanks and regards,
Patidar Nikunj

[2017-02-11 12:13] tmtron commented on #45
[`assignViewModel()`](https://github.com/kickstarter/android-oss/blob/a0ade58c74eddc03f3e83d200c1704fc882eec6f/app/src/main/java/com/kickstarter/libs/BaseActivity.java#L260) will only assign the `viewModel`, when the class uses the `@RequiresActivityViewModel` annotation. Otherwise `viewModel` may remain `null`.

[2017-02-12 11:16] strzelecGM commented on #28
How to open it in Android studio ?

I get in console as below:

Error:A problem occurred configuring project ':app'.

     Required by:
         android-oss-master:app:unspecified

     Required by:
         android-oss-master:app:unspecified

     Required by:
         android-oss-master:app:unspecified

[2017-02-21 02:46] naivor commented on #16
oh,I meet the  same problem and I  spend  several  hours  to solve it .  This is mine  solution.

1.certain  have  the  ruby  environment .
2. open  ./script/bootstrap  file, change  "#!/user/bin/env  sh"  to  "#!/bin/bash"

then  run  make  bootstrap,it works!

[2017-02-21 16:06] #24 closed

[2017-02-21 16:07] #36 closed

[2017-03-01 04:42] isaacchn commented on #28
try to install mingw32 on your computer and add ${mingw32 install directory}\msys\${msys version}\bin to PATH

[2017-03-03 15:33] ronanhardiman opened #64 "background in View is better than in RelativeLayout?"
`<RelativeLayout
    android:id="@+id/checkout_loading_indicator"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:layout_below="@id/checkout_toolbar">

    <View
      android:layout_width="match_parent"
      android:layout_height="match_parent"
      android:background="@color/white_alpha_60"/>

    <ProgressBar
      android:id="@+id/loading_indicato

[2017-03-04 22:46] AllanWang opened #65 "Toolbar shadow disappears sometimes"
If you scroll very quickly and very far down, the shadow will disappear. Scrolling back up will make it appear again. Is this intended behaviour?

[2017-03-20 15:21] luoser commented on #65
Ah, a subtle catch--looks like this is because the sort tab [inherits its 4dp elevation from its parent CoordinatorLayout](https://github.com/kickstarter/android-oss/blob/master/app/src/main/res/layout/discovery_layout.xml#L33) while the discovery toolbar (the navy blue) has [no elevation](https://github.com/kickstarter/android-oss/blob/master/app/src/main/res/layout/discovery_toolbar.xml#L11) sin

[2017-03-20 15:22] luoser commented on #64
Can you point me to the layout file which contains this snippet? Thanks!

[2017-03-20 15:24] luoser commented on #49
Going to close this now due to inactivity

[2017-03-20 15:24] #49 closed

[2017-03-22 05:05] ronanhardiman commented on #64
https://github.com/kickstarter/android-oss/blob/8c655fa0ecad478250d530f5c3dad0bfa0d49aec/app/src/main/res/layout/help_layout.xml
![image](https://cloud.githubusercontent.com/assets/1968388/24182933/ff5494ac-0eff-11e7-9307-0042c24ef553.png)

why not this
![image](https://cloud.githubusercontent.com/assets/1968388/24182978/2c7d6cba-0f00-11e7-80e2-eb9adff319bc.png)

thank you

[2017-03-23 21:37] Singwai opened #74 "Double Bracket initialization is bad."
hello,

I see that the app occasionally uses double bracket initialization. For example here
https://github.com/kickstarter/android-oss/blob/master/app/src/main/java/com/kickstarter/libs/KSString.java#L26-L30

and

https://github.com/kickstarter/android-oss/blob/master/app/src/main/java/com/kickstarter/libs/KSString.java#L74-L81

This should be absolutely avoided IMO. The reason is that each of th

[2017-03-29 20:54] #65 closed

[2017-03-30 14:50] bootstraponline opened #76 "Espresso?"
I see ` androidTestCompile 'com.android.support.test.espresso:espresso-core:2.2.2'` but it looks like there are no Espresso tests?

[2017-04-07 08:39] tiagomartinho opened #78 "Not clear how to run unit tests"
I tried to run the tests from the command line using:
[code]
But the result is the following:

[code]

If I run from Android Studio the result is:

[code]

Could you advise me on how to run the tests and then I can add that information to the README?

[2017-04-24 03:18] wanyt opened #83 "Couldn't request network"
When I run app success, I can not get data from network. and print log like this:

04-24 11:12:31.870 31832-31877/com.kickstarter.kickstarter.debug V/MixpanelAPI.DChecker: Cannot get https://decide.mixpanel.com/decide?version=1&lib=android&token=koala&distinct_id=648a9a4c-4d30-474e-b242-dcfc79f2b868, file not found.

[2017-04-26 22:03] luoser commented on #78
yep, this is actually related to the recent upgrade to Android Studio 2.3.1 which seems to reset the working directory for our tests

to fix this, go to `Run > Edit configurations > Defaults > Android JUnit` and set the `Working directory:` to `path/to/android-oss-or-whatever-you-named-this-project/app`

note that if you have a test / tests open that you've already tried running you may have to re

[2017-05-08 07:35] maulshh commented on #16
Hi, I can't find the submodule vendor/native-secrets or the repo on kickstarter, can anybody help?

[2017-05-11 20:08] luoser commented on #34
thanks for this suggestion! sorry it took so long to address, but thank you for sharing your implementation and if you'd like to see we are working in that solution to our codebase here! #92

[2017-05-18 16:53] selmanon opened #103 "Project migration to the component based architecture / Kotlin"
Hello,

Is there any plan to migrate the projet to an component based architecture ?
Same to start using Kotlin for new features ?

Best,
Abdellah

[2017-05-22 19:31] luoser commented on #34
closing as we have merged the change, thanks again!

[2017-05-22 19:31] #34 closed

[2017-06-14 14:41] onmyway133 commented on #103
I see they are using kotlin https://github.com/kickstarter/android-oss/blob/master/app/build.gradle#L152 to some degree.

I hope you will consider kotlin for future features 🚀

[2017-06-15 18:01] luoser commented on #103
Yep, we're using Kotlin as we see fit for new utils and some classes. The Hope and Dream™ is to get most of our view models, activities, and tests (i.e. everything hehe) to Kotlin, but to keep with our product roadmaps it's not our priority right now 😭

[2017-06-20 06:09] LittleStupid commented on #83
I got the same problem.

[2017-06-24 09:39] shaikhriyaz434 commented on #16
facing same problem need help

[2017-07-01 17:28] gpj008 commented on #83
I got the sam problem on my phone also...

[2017-07-01 17:28] gpj008 commented on #83
I got the same problem on my phone also...

[2017-07-06 18:44] #103 closed

[2017-07-06 18:45] #78 closed

[2017-08-12 18:08] valentinilk commented on #28
If you are on Windows 10 make sure to utilize the [native bash](https://www.howtogeek.com/249966/how-to-install-and-use-the-linux-bash-shell-on-windows-10/) capability. Install 'make' and 'ruby' via apt get. Follow kickstarter's readme after that and everything should work.

[2017-08-15 19:35] luoser commented on #64
sorry this has taken so long, but you are correct, setting this background in a separate `View` tag is redundant when it can be done in the enclosing `RelativeLayout`. feel free to submit a PR, otherwise I'll go ahead an make the changes

[2017-08-16 03:32] Pingsh commented on #28
http://railsinstaller.org/en    download this soft,  Install the environment you need. test "rails -v" and "ruby -v", if error, find file "rails.bat" at the installation directory, tips here : https://stackoverflow.com/questions/35545361/rails-the-system-cannot-find-the-path-specified

[2017-08-16 06:16] Pingsh opened #150 "Can't find Sign. location: com.kickstarter.libs.utils.Secrets"
Has anyone run it in Win ? I solved the problem about how to run "./script/bootstrap", but..New problems have emerged, I can't find sign(Maybe "symbol") .
`
error: can't find sign
class: Secrets
location: com.kickstarter.libs.utils.Secrets
`

[2017-08-16 06:23] Pingsh commented on #150
There is no path "https://github.com/kickstarter/native-secrets vendor/native-secrets", I can't clone it from your github

[2017-08-16 06:54] Pingsh commented on #150
My English is poor, The solution is complicated, I was worried about misrepresentation, use Chinese, you can use Google Translate.
折腾半天, 我来说一下全部的踩坑过程.
第一步, 安装软件. http://railsinstaller.org/en ;
第二步, 检测环境. 检测 ruby 和 bundle 的环境是否安装好了. 打开 cmd, 运行 "ruby -v" 和 "rails -v".后者可能报错.如果报错, 找到 rails.bat 文件, 替换全部内容, 详见 https://stackoverflow.com/questions/35545361/rails-the-system-cannot-find-the-path-specified

[2017-08-16 06:54] #150 closed

[2017-08-16 07:52] Pingsh commented on #24
解决这个问题了, 直接找到 "Secret.java.example" 文件, 重命名为 "Secret.java" ,重新 build 一下, 就可以运行了 @zhoujingheng

[2017-08-29 03:37] rome753 commented on #30
on my Ubuntu 16, edit the ./script/bootstrap file with a text editor,
change "function say {..." to "say() {...",
and also "function loudspeaker {..." to "loudspeaker() {...",
then apt install ruby and curl,
then ok.

[2017-08-29 03:38] rome753 commented on #6
on my Ubuntu 16, edit the ./script/bootstrap file with a text editor,
change "function say {..." to "say() {...",
and also "function loudspeaker {..." to "loudspeaker() {...",
then apt install ruby and curl,
then ok.

[2017-08-29 04:08] rome753 commented on #83
#21

[2017-09-08 18:54] jorgecasariego commented on #36
Thanks @dancrisan

"make bootstrap" was the solution! 😃

[2017-09-18 15:31] #64 closed

[2017-09-18 15:34] luoser commented on #83
yep, please refer to #21 and our readme: the oss repo is designed to build and run, but without production data (for now) from our server

[2017-09-18 15:34] #83 closed

[2017-09-18 16:01] luoser commented on #30
closing now as @hodanny 's fix has been merged.

[2017-09-18 16:01] #30 closed

[2017-12-06 23:02] luoser commented on #74
heya, good suggestion. i think we use {{}} in just a few places so didn't analyze the complexity too much when building the app, but we're totally up for removing them. if you'd like, feel free to open a PR and we'll merge, or likely we'll table this task for later, prioritizing feature development

[2017-12-07 16:58] Singwai commented on #74
kk I will work on it

[2017-12-07 20:56] luoser commented on #76
heya, yep we did once have an espresso test onceuponatime for our login, but it was un-maintained and removed, so looks like we can remove this dependency as well until we use espresso tests again in The Future. thanks!

[2017-12-07 20:56] #76 closed

[2017-12-13 21:14] selmanon opened #195 "To Comment or Not to Comment?"
Hello there,

There is an awesome episode that discuss [code health](https://testing.googleblog.com/2017/07/code-health-to-comment-or-not-to-comment.html) published by google folks on their blog : googleblog.com.

Among the advices :

What I suggest is to apply this advice 👍

So this code :
[code]

Will become :
[code]

[2017-12-20 07:50] sunardo commented on #47
I have some problem... still  can't solve it.
Wonder if @amitsri20 have solution.

[2018-01-29 09:20] rexi1r opened #207 "application compile and run but nothing show"
I compile the source code and run the application but nothing show.

I figure out I have a test API .how can I get an authorize restful API??

[2018-01-29 09:27] selmanon commented on #207
The app will not show any thing as they make as note on the Getting Started (readme)

close  #207

[2018-01-29 10:33] #207 closed

[2018-02-27 20:08] BishoyAbd commented on #36
I have the same problem, yet I could not get what is "make bootstrap" ?
what does that mean ?

[2018-03-26 22:10] starkej2 opened #230 "Status bar overlaps side navigation on the Essential phone"
![screenshot_20180326-152005](https://user-images.githubusercontent.com/1320020/37935740-b10a656c-3120-11e8-92ea-80bf48ce4c11.png)

[2018-03-26 22:12] starkej2 commented on #230
It looks like the layout has `fitsSystemWindows` applied properly, but it doesn't appear to be working properly on the Essential PH-1. Not sure if it's a problem w/ the phone or this app though.

I tried to fix it by programmatically adding margin/padding equal to the status bar height to the top of the navigation drawer using `systemWindowInsetTop` provided by the `View.setOnApplyWindowInsetsList

[2018-03-29 00:31] michaelsam94 commented on #230
we can make the status bar transparent and follow material guidelines
![material](https://user-images.githubusercontent.com/9461037/38063395-3dbe33a6-32f9-11e8-8d83-69ab243a2fb4.JPG)

[2018-04-02 20:23] eoji commented on #230
Hey Jeffrey(@starkej2)!! Thanks for the feedback. And thank you @michaelsam94 for the reference! This issue is logged in our roadmap and it will be in an upcoming release 🤓

[2018-04-08 05:09] mirzazulfan opened #237 "New Logo For Kickstarter"
Hello.
I wanted to contribute to kickstarter and I designed a logo for kickstarter. If you like it, you can use it. I'll send you files and pr, is there anything you want ?
![kickstarter](https://user-images.githubusercontent.com/36124339/38463461-a2d96006-3b25-11e8-9296-5839396f2d34.png)

[2018-04-09 23:39] justinswart commented on #237
Hey thanks for the contribution! We're happy with our current logo 👍

[2018-04-09 23:39] #237 closed

[2018-04-15 10:49] selmanon opened #238 "Compilation error"
[code]

[2018-04-28 19:01] kingfaisalict commented on #32
when i build the app, get a error ::::::    No matching client found for package name 'com.kickstarter.kickstarter.debug'

Please, explain how can i fix it.

I am a novice

[2018-05-01 05:44] Yvrabu commented on #238
I have similar problem on mac

File google-services.json is missing. The Google Services Plugin cannot function without it.
 Searched Location:
/Users/YRB/Desktop/android-oss-master/app/src/externalMin21/debug/google-services.json
/Users/YRB/Desktop/android-oss-master/app/src/debug/externalMin21/google-services.json
/Users/YRB/Desktop/android-oss-master/app/src/externalMin21/google-services.json
/

[2018-05-10 09:25] leeyun opened #245 "Sometimes interface data is faster than UI rendering."
Sometimes interface data is faster than UI rendering. How to solve it?

[2018-05-19 15:20] bootstraponline opened #251 "Question: how are secrets handled in android-oss?"
I'm interested to learn how secrets are handled in the Android oss repo. There are usually API keys and other credentials required to build the app that shouldn't be open sourced. I think Kickstarter is using a git submodule?

I'd like to replicate a similar setup for my apps. Any details would be appreciated.

[2018-05-19 15:25] idcmsbeta opened #252 "Content is empty"
I have install it to the phone..

From android catlog see  like this

[2018-05-23 17:45] eoji commented on #252
Hello! I'm not sure I understand, what is the question?

[2018-05-24 02:07] idcmsbeta commented on #252
The left side menu blank, the content of each tab is empty.

[2018-06-07 21:27] eoji commented on #251
Hello @bootstraponline we are! If you take a look at https://github.com/kickstarter/android-oss/blob/master/Makefile you can see where we copy over our dependencies.

[2018-06-07 21:27] #251 closed

[2018-06-07 21:28] eoji commented on #252
Hi @idcmsbeta! You don't have access to all of our dependencies (they are private) so that's why the content is empty.

[2018-06-07 21:28] #252 closed

[2018-06-07 21:31] bootstraponline commented on #251
Thanks!

[2018-06-07 21:31] eoji commented on #238
Hi @selmanon & @Yvrabu ! You don't have access to all of our dependencies (they are private) so they are missing.

For the `SocketUtils` error, I'm going to delete that file in https://github.com/kickstarter/android-oss/pull/260 so let me know if you still have errors after it's merged.

[2018-06-07 21:31] #238 closed

[2018-06-07 21:31] #74 closed

[2018-06-08 07:53] idcmsbeta commented on #252
Wait .better private this project if status failure @eoji

[2018-06-28 12:22] rj12info opened #265 ""token, no project found""
Launch app from Android Studio on an Emulator
Able to see tabs and navigation drawer in app

https://decide.mixpanel.com/decide?version=1&lib=android&token=koala&distinct_id=0b07c7b2-531c-4cf9-9ef4-4f473f57467e

[2018-06-28 12:59] eoji commented on #265
Hi @rj12info, what's the issue you're seeing? We don't use Mixpanel as a service so that error is accurate.

[2018-06-28 13:15] rj12info commented on #265
unable to see ui in emulator
1st tab
![screenshot_1530192423](https://user-images.githubusercontent.com/6755892/42036522-5e9d8566-7b03-11e8-9adf-2624cdccfc02.png)

All other tabs show empty except for 1st tab

![screenshot_1530192340](https://user-images.githubusercontent.com/6755892/42036475-4266d5be-7b03-11e8-85da-b5deac666daf.png)

[2018-06-28 18:14] eoji commented on #265
Hi @rj12info, as mentioned in our README:

Currently, it's not possible for external contributors to see production data but it's something we are considering implementing in the future.

[2018-07-05 19:06] #45 closed

[2018-07-26 08:48] itayvallach opened #280 "Is there an option to have mock data like the iOS app?"

[2018-07-26 11:50] selmanon commented on #280
Do you mean that you could run the iOS app ?

Le jeu. 26 juil. 2018 09:48, Itay Vallach <notifications@github.com> a
écrit :

[2018-07-26 11:53] itayvallach commented on #280
No. On Android, the app is blank, no data at all, I cannot make any use of it. I mean to have an option like the iOS app has, to mock hardcoded data. This is from your iOS documentation:
* To provide a mock version that serves up hard-coded data immediately, set KsApi.Secrets.isOSS = true.

[2018-07-26 18:00] eoji commented on #280
HI @itayvallach and @selmanon! From January until June, it was just me managing this repo on my own 😅 But now there are 2 engineers 🤓🤓And we have added creating mock data to our Android Engineering roadmap so the repo can be more helpful to people outside of our organization. I'm hoping to start this work in Q3.

[2018-08-06 15:52] liuruimilk opened #290 "when i login or logout ,how can i change the CurrentUserType in Environment...."
forgive my Chinglish
first time to start the app. there is no user info....so , in ApplicationModule provideCurrentUserType is null, but   okhttp is building...... when i logined ,then the app got the user info.....but i cant find anywhere code to refresh the global ApplicationComponent....so , the ApplicationComponent provide's
Environment always have the old CurrentUserType...

[2018-08-06 15:57] eoji commented on #290
Hi @liuruimilk, if I understand correctly, no data is loading? That's expected behavior. As mentioned in our README:

We do have plans to create some mock data so that playing with the app will be a more interactive experience.

[2018-08-06 16:12] liuruimilk commented on #290
@eoji Hi,you replied to the wrong person

[2018-08-08 03:12] dwkim891220 opened #294 "can't run app with Crashlytics found an invalid API key: null."
hello!
want build and run application in my phone.
did make bootstrap and run.
but can't run with below message

Crashlytics found an invalid API key: null.
Check the Crashlytics plugin to make sure that the application has been added successfully!
Contact support@fabric.io for assistance.

please help me thanks!

[2018-08-10 19:41] eoji commented on #294
Hi @dwkim891220! We think we fixed the issue in #299. Please let us know if you are still having issues.

[2018-08-10 19:41] #294 closed

[2018-09-10 18:27] eoji commented on #265
Hi @rj12info,

![image](https://user-images.githubusercontent.com/1289295/45316559-67753a80-b505-11e8-98e1-cfab23838897.png)

We merged in #324 that allows OSS contributors to see mock data so the app is no longer blank.

[2018-09-10 18:27] #265 closed

[2018-09-10 18:27] eoji commented on #280
Hi @itayvallach and @selmanon

![image](https://user-images.githubusercontent.com/1289295/45316559-67753a80-b505-11e8-98e1-cfab23838897.png)

We merged in #324 that allows OSS contributors to see mock data so the app is no longer blank.

[2018-09-10 18:27] #280 closed

[2018-09-10 18:28] eoji commented on #290
Hi @liuruimilk,

![image](https://user-images.githubusercontent.com/1289295/45316559-67753a80-b505-11e8-98e1-cfab23838897.png)

We merged in #324 that allows OSS contributors to see mock data so the app is no longer blank.

[2018-09-10 18:28] #290 closed

[2018-09-10 18:32] eoji commented on #195
Hi @selmanon,

Per our own documentation [here](https://github.com/kickstarter/native-docs/blob/master/vm-structure.md) , we prefer comments (for now) but thank you for the suggestion!

[2018-09-10 18:32] #195 closed

[2018-09-13 14:46] #16 closed

[2018-09-13 14:46] #28 closed

[2018-09-20 00:33] naufaladi opened #340 "google-services.json is missing and make bootstrap?"
hello, I'm a beginner on coding in general, I encountered this google service missing error when I try to run the app in the android studio, tried to look for answers here, I know I am supposed to run "make bootstrap" but I really can't quite understand how you do it.

here is the error:

`File google-services.json is missing. The Google Services Plugin cannot function without it.
 Searched Locati

[2018-09-22 11:47] naufaladi commented on #340
closed, i finally got it working, here's a Windows 10 guide for the less technical people like me:

1. install ubuntu with this [guide](https://www.howtogeek.com/249966/how-to-install-and-use-the-linux-bash-shell-on-windows-10/)

2. now, clone this project, here's the [guide](https://services.github.com/on-demand/github-cli/clone-repo-cli) on how to clone projects using git command.

3. once you h

[2018-09-22 11:49] #340 closed

[2018-10-05 06:00] naufaladi opened #346 "Some enhancement ideas"
Hello, I would like to point out some feature enhancement idea that might actually be useful, here they are:

1.	Interface overhaul on home project listing to be more compact and simple.
The current “home” project list interface only shows a little portion of the project’s description in the project overview. It also leaves a lot of wasted blank space, which I would like to improve to make the int

[2018-10-05 14:02] eoji commented on #346
Hi @naufaladi,

Thanks for this thoughtful feedback! These are all great ideas we have considered and discussed with the design and product team.

There are currently only 2 maintainers of this repo, myself and @Rcureton, and we are trying to strike a balance between maintenance, bugs, and new features. Going forward, for product feedback, you can send an email to android@kickstarter.com. Those me

[2018-10-05 14:02] #346 closed

[2018-10-05 15:48] eoji commented on #230
Hey Jeffrey 🤓 I finally got some time to address this. Thanks again for pointing it out!

[2018-10-05 15:48] #230 closed

[2018-10-05 16:05] starkej2 commented on #230
🎃

[2018-11-07 09:26] luckyAF opened #371 "Process 'command ' .../Kickstarter/android-oss/app/.gradle/nodejs/node-v6.7.0-darwin-x64/bin/node'' finished with non-zero exit value 1"
when I build the project, I get following error
[code]

[2018-11-27 15:53] selmanon opened #386 "changing app screenshots on readme"
The app is amazing but I didn't fill good when I see the screenshots on the readme. It's possible to change it please?

[2018-11-27 15:59] eoji commented on #386
Hi @selmanon,

Thanks for the feedback. It's coming up on our roadmap to update these! They also annoy me 🙃

Best,
Izzy

[2018-11-27 15:59] #386 closed

[2018-11-28 15:30] eoji commented on #371
Hi @luckyAF, I'm not sure if this is a Kickstarter app specific issue. I bumped Apollo yesterday in #394 and can still build successfully. This seems like a node/npm issue. I believe that's what [https://github.com/apollographql/apollo-android](Apollo) uses under the hood. What do you get when you do `node -v` in your terminal?

[2018-12-07 08:19] luckyAF commented on #371
v6.11.3

[2018-12-07 15:43] eoji commented on #371
Hi @luckyAF,

Thanks! I did some googling and saw that this is definitely an Apollo issue and not a Kickstarter issue. I think this comment is helpful:

https://github.com/apollographql/apollo-android/issues/608#issuecomment-369899779

I would open an issue here if you're still running into problems: https://github.com/apollographql/apollo-android/issues

Best,
Izzy

[2018-12-07 15:43] #371 closed

[2019-01-25 20:13] selmanon opened #446 "delete backOrCloseButtonClicked from LoginViewModel"
Seems that `backOrCloseButtonClicked` from `LoginViewModel` is not used anymore.

[2019-03-14 04:29] sudansh opened #502 "Update to RxJava2"
Are there any plans to update to RxJava2?

[2019-03-14 16:06] eoji commented on #502
Hi @sudansh, thanks for checking out our repo! We are currently taking a step back from doing infrastructure work to focus on adding new features. Updating to RxJava2 is something we are aware of but not currently prioritizing.

[2019-03-14 16:06] #502 closed

[2019-03-20 21:56] MarionMoseby opened #503 "Attach android app to releases"
Hi! Would it be difficult to attach the android app to releases? That way, it could be included on F-Droid through alternative repos, which will find it difficult to do so otherwise :)

[2019-04-04 07:28] nevermore1000 opened #508 "intent emit multiple times"
intent in ViewModel emit multiple times(maybe 3-5 times in 10 ms)
how to fix this issue, intent().take(1) doesn't work.
The Log.e  below may print multiple times.
`  val emailAndReason = intent()
                    .filter {
                        Log.e("ghb", "intent --- " + it)
                        it.hasExtra(IntentKey.EMAIL)
                    }
                    .map {

[2019-04-04 07:45] nevermore1000 commented on #508
`  val emailAndReason = intent()
                    .filter {
                        Log.e("ghb", "intent --- " + it)
                        it.hasExtra(IntentKey.EMAIL)
                    }
                    .map {
                        Pair.create(it.getStringExtra(IntentKey.EMAIL),
                                if (it.hasExtra(IntentKey.LOGIN_REASON)) {

[2019-04-04 08:06] #508 closed

[2019-05-01 18:59] sbenitez10 opened #521 "com.kickstarter.extensions.showSnackBar"
When i was trying to debugging the code to understand it  i got a error. looking to the classes i found that you have a un resolve reference that is com.kickstarter.extensions.showSnackBar

![image](https://user-images.githubusercontent.com/35940950/57036213-3921a800-6c19-11e9-9b38-8a1027922b61.png)

[2019-05-01 19:01] eoji commented on #521
Hey @sbenitez10, I'm not getting this error. Have you been successfully able to build the app previously?

<img width="602" alt="Screen Shot 2019-05-01 at 3 00 09 PM" src="https://user-images.githubusercontent.com/1289295/57036305-eac4d700-6c21-11e9-9cbe-d0486c398ed4.png">

[2019-05-01 19:13] sbenitez10 commented on #521
nope i wasnt.  i am checking it know

[2019-05-01 23:02] sbenitez10 commented on #521
HI, i was trying to build the app but i  get this error and i dont know how to solve it
![image](https://user-images.githubusercontent.com/35940950/57048856-55364100-6c3b-11e9-99a3-d97ca3ca64cd.png)

[2019-05-01 23:42] eoji commented on #521
I think that error is a red herring. When you open the project, Android Studio makes suggestions about updating your version of kotlin and gradle but that actually breaks the app. Try reverting your changes in `build.gradle` and `gradle-wrapper properties` and then rebuild. Tell me how it goes.

[2019-05-02 16:02] sbenitez10 commented on #521
i revert my changes but nothings happens i still getting the same error

![image](https://user-images.githubusercontent.com/35940950/57089147-66c62a00-6cc9-11e9-8b40-1480a519b0c0.png)

![image](https://user-images.githubusercontent.com/35940950/57089217-8cebca00-6cc9-11e9-9700-3d7e95cdc4c5.png)

sorry for the problems.

[2019-05-02 16:48] eoji commented on #521
No problem! Looks like the build `"completed successfully"` and that error shouldn't affect you so have you tried actually running it on a device or emulator?

Here's my output when I build the app:
<img width="662" alt="Screen Shot 2019-05-02 at 12 45 23 PM" src="https://user-images.githubusercontent.com/1289295/57092058-8a44a100-6cd8-11e9-8fe5-5ae63186c151.png">

[2019-05-02 16:49] eoji commented on #503
Hi @MarionMoseby, thanks for opening an issue! We have no plans to attach the release APK to releases at this time.

[2019-05-02 16:49] #503 closed

[2019-05-02 17:03] sbenitez10 commented on #521
yeap i run it but when i scroll too much the first view it generates a ANR. so i thought that maybe was because the build had that error.

[2019-05-02 19:31] eoji commented on #521
Alright, I just pulled down the OSS version and debugged 🕵🏾‍♀️. I will open a PR to fix this!

[2019-05-03 14:59] eoji commented on #521
The PR has been merged. Please pull the latest and you shouldn't see the crash anymore!

[2019-05-03 14:59] #521 closed

[2019-05-06 00:42] sbenitez10 opened #524 "Trying to use DashBoard Feature"
Hi!

i am tryiung to use the dash board feature but it gets in a infinity Loading screen so i thought that maybe it is because you are doing a request to a server to get de stats  and this dont responde back,

[2019-05-06 18:28] eoji commented on #524
Hi @sbenitez10, the OSS version of the app returns data from network calls defined in `MockApiClient`.

[2019-05-06 18:28] #524 closed

[2019-09-21 14:23] narayananiyer86 commented on #32
I'm getting the same issue

[2019-09-22 08:48] narayananiyer86 opened #616 "Build failed"
I'm getting the error while building gradle. Here is the error

com.apollographql.apollo.compiler.parser.GraphQLDocumentParseException:
Failed to parse GraphQL file C:\Users\Narayanan KA\Downloads\Android projects\Kickstarter\app\src\main\graphql\activity.graphql (2:35)
Unsupported token }

[2019-09-23 20:28] eoji commented on #616
Hey @narayananiyer86, I'm able to build the OSS app. Could you paste what your `activity.graphql` looks like?

[2019-09-24 03:54] narayananiyer86 commented on #616
Hello ,

This is what my activity.graphql looks like.

mutation ClearUserUnseenActivity {
  clearUserUnseenActivity(input: {}) {
      activityIndicatorCount
  }
 }

Regards ,
K.A. Narayanan

________________________________
From: Izzy Oji <notifications@github.com>
Sent: Tuesday, September 24, 2019 1:58:55 AM
To: kickstarter/android-oss <android-oss@noreply.github.com>
Cc: narayananiyer86 <reapsa

[2019-09-24 14:58] eoji commented on #616
Hmm mine is identical and I'm able to run the project. You've tried cleaning and rebuilding, right? Apollo needs a rebuild to autogenerate the classes. I saw your comment here: https://github.com/apollographql/apollo-android/issues/1545#issuecomment-533814345

I'd make sure you're on the latest from master, run `make bootstrap`, and lemme know how it goes!

[2019-09-26 16:13] eoji commented on #616
Hey @narayananiyer86 I just bumped the version of Apollo we use in #618 so you should pull and try rebuilding! Please reopen if you still have issues.

[2019-09-26 16:13] #616 closed

[2019-10-24 07:40] aoben10 opened #653 "Oauth question about browser vs native login UI"
Hey guys, I'm learning about oauth and thought I'd take a look at your app as an example of best practices. A lot of blogs seem to suggest using a browser based authentication for mobile apps but I noticed you guys are using a native login UI.

How are you able to achieve the look and feel of native without compromising on security? Is going with a native UI any less secure?

Source: https://auth0

[2019-10-24 17:28] eoji commented on #653
Hi @aoben10, app security is not related to a native or web based log in form. If you have a specific implementation question or an issue with building the app, please let me know.

[2019-10-24 18:21] aoben10 commented on #653
Sorry, I should rephrase. My question mostly relates to what grant type is implemented in the app's Oauth flow.
I assumed it was Resource Owner password credential where a user sends the server login credentials and gets an access token in return. But the [documentation](https://tools.ietf.org/html/rfc8252) I found online suggests using Oauth authentication with a PKCE grant type in a browser as b

[2020-01-05 02:48] Donboscow opened #701 "[Feature Request] Add "Sign in with Google Account" option"
Please kindly add "Sign in with Google Account" option so that we can seamlessly log in kickstarter from all platform.

[2020-01-06 16:59] eoji commented on #701
Hi @Donboscow,

Thanks for checking out our open source repos and for the suggestion! I'll pass this along to our product team.

Github issues are usually opened for code related questions. We have 2 email addresses for app feedback; android@kickstarter.com and app@kickstarter.com, for Android and iOS respectively. Going forward, please try to use one of those emails for feature requests.

Best,
I

[2020-01-06 16:59] #701 closed

[2020-02-14 17:14] rocks860 opened #746 "Add products and listings?"
Sorry if I sound ignorant, is there a way to add categories and add listings or this project has a different meaning? Is this like an ecommerce app?  I did try to read more about it, but couldn't find what it does.
Thanks for your time

[2020-02-18 17:30] eoji commented on #746
Hi @rocks860!

 If you're not sure what Kickstarter is, take a look at our [Help Center](https://help.kickstarter.com/hc/en-us).

If you're not what this repository is about, check out our [README](https://github.com/kickstarter/android-oss/blob/master/README.md)

[2020-02-18 17:30] #746 closed

[2020-03-29 11:47] Grandolf49 opened #808 "Android Studio can't find fabric.properties file"
**Issue**

- I forked the repository, cloned into a local directory and imported the project in Android Studio 3.6.1
- While importing, Android Studio throws an error:
[code]

[2020-03-30 14:45] eoji commented on #808
Hi @Grandolf49, thanks for checking out the repo!

That's expected because it sounds like you haven't run `make bootstrap` in step 4 of the [README](https://github.com/kickstarter/android-oss#getting-started). Let me know if you're still running into issues after!

[2020-03-30 14:45] #808 closed

[2020-04-16 22:58] SeanFelipe commented on #32
getting this again now. Worked previously but now the build is failing. `make bootstrap` doesn't seem to resolve things ... it was working about a month ago for me.

[2020-04-17 20:48] eoji commented on #32
@SeanFelipe That's weird but I'm glad it's fixed. Feel free to open a new issue because @luoser had to ping me about this one since I wasn't at Kickstarter in 2016 🙂

[2020-04-20 23:31] Zenahr opened #841 "[Feature Request] Darkmode"
Is the darkmode feature planned yet? It's a standard that users demand nowadays.

[2020-04-21 01:25] Zenahr commented on #841
Here are some preliminary mockups I made on-the-fly. I would be happy to supply the code as well of course (make a pull-request). I can't say how long it'll take me since I haven't looked at the source-code yet.

![comparison-1](https://user-images.githubusercontent.com/47085752/79814860-90b3a900-837f-11ea-8167-d53389a02c0d.png)
![mock-1](https://user-images.githubusercontent.com/47085752/79814863

[2020-04-21 19:35] eoji commented on #841
Hi @Zenahr,

Thanks for checking out our open source repo and for the suggestion! I'll pass this along to our design team.

We have 2 email addresses for app feedback; android@kickstarter.com and app@kickstarter.com, for Android and iOS respectively. Going forward, please try to use one of those emails for feature requests.

Best,
Izzy

[2020-04-21 19:35] #841 closed

[2020-04-21 23:56] Zenahr commented on #841
I opened an issue on github instead since I would be open to contribute to this feature by creating pull requests. Just for clarification: Is this repo open-source and open-contribution or just open-source?

Cheers,
Zenahr

[2020-04-22 22:10] eoji commented on #841
Hi @Zenahr,

That's a great question! In the README, we say:

We have had contributions that like #177 and #182 that were really helpful and much needed refactors inline with the roadmap! Dark mode is not currently on the immediate roadmap but when it is, we will update this issue to show you the updated designs if you'd still like to work on them.

Best,
Izzy

[2020-05-26 09:18] tonptit opened #893 "missing A Firebase API key"
how to fix this crash
Caused by: java.lang.IllegalArgumentException: Please set a valid API key. A Firebase API key is required to communicate with Firebase server APIs: It authenticates your project with Google.

[2020-06-09 21:48] emreakcan commented on #893
Hey, you can't run the project directly. There is lots of keys and secrets in this project, you can create your own firebase project and put your api keys. But as I remember if you go through setup process "make bootstrap" does that for you but I'm not sure.

[2020-06-23 17:58] emreakcan commented on #893
@JadeByfield89 could you please close that issue?

[2020-07-23 02:02] NurseyitTursunkulov commented on #893
does not work

[2020-07-23 03:14] NurseyitTursunkulov commented on #893
cp: cannot stat 'vendor/native-secrets/android/Secrets.java': No such file or directory
cp vendor/native-secrets/ruby/secrets.rb lib/milkrun/secrets.rb || true
cp: cannot stat 'vendor/native-secrets/ruby/secrets.rb': No such file or directory
cp vendor/native-secrets/fonts/ss-kickstarter.otf app/src/main/assets/fonts/ss-kickstarter.otf || true
cp: cannot stat 'vendor/native-secrets/fonts/ss-kickst

[2020-07-26 20:15] moryzaky commented on #893
I have the same problem. Any update?

[2020-07-27 00:02] NurseyitTursunkulov commented on #893
no

[2020-07-30 06:41] fmklab opened #941 "Fast switching crash"
The app crashes on fast switching in notification or newsletters module

[2020-08-28 21:20] Arkariang commented on #893
You need to create your own Firebase account and download from there your `google-services.json`. We cannot share that information in a public repository as you can imagine.
Cheer folks and thanks for the interest in our source code

[2020-08-28 21:20] #893 closed

[2020-08-28 21:25] Arkariang commented on #941
I was unable to reproduce it on Android 10 device.
Could you please provide a bit more information about the crash?
And thanks for reporting it! 👍

[2020-10-28 16:36] #941 closed

[2021-06-07 07:31] thecodedoctorr opened #1275 "Gradle build fails because of independencies"
My build on this app fails and I see this error :
Any idea on how to fix it??

<img width="639" alt="certificat" src="https://user-images.githubusercontent.com/80653616/120976883-0ab91400-c773-11eb-840f-82dd69634234.png">

[2021-07-15 09:15] ian475 opened #1321 "71521"
How do I view this months JSON request for oss software input

[2021-07-15 22:24] ian475 opened #1325 "Patch/tendermint"

[2021-07-19 23:46] #1325 closed

[2021-07-19 23:47] Arkariang commented on #1325
- No issue provided

[2021-07-30 16:09] #1321 closed

[2021-07-30 16:14] #1275 closed

[2021-12-13 14:42] apoorv-arora opened #1483 "Move from Manual version bumps to Dependabot"
**Overview**
Dependabot takes the effort out of maintaining our dependencies. We can use it to ensure that our repository automatically keeps up with the latest releases of the packages and applications it depends on.

Learn more [here](https://docs.github.com/github/administering-a-repository/keeping-your-dependencies-updated-automatically).

[2022-01-25 17:44] Arkariang commented on #1483
It's a great suggestion! once we've had the chance to modernize some of our dependencies we could explore it for sure 💯

[2022-03-04 11:49] vaibhavantil1 opened #1557 "Play Store Data Safety Section"
Hi Team

In the recent Play Store policy, it will become mandatory for you to fill out the Data Safety Section. Since this is an OSS Android app, it will make sense to have it as a part of the repository as well.

I have run the scan using [my tool here](https://github.com/Privado-Inc/privado) on android-oss, attached the scan results. I found the following data types & SDKs.

If this is helpful,

[2022-06-18 20:21] lalitsharmaking opened #1647 "Can't use source code"
I am very new to coding and I have tried everything searched everywhere but can't understand the meaning of - " cd in the project repo or how to run bootstrap " can someone help me because I tried to open this project without it and it's showing error

[2022-06-18 20:46] lalitsharmaking commented on #36
How the actual hell we do this ? How to make bootstrap what is the code can u help man ? I m tired really

[2022-06-19 11:36] mark2185 commented on #1647
The instructions say:
[code]

That means that you should run the following:
[code]

And then `cd` into it:
[code]

And then run `make bootstrap`. The output should say if any manual steps are required.

What happens when you follow these instructions?

[2022-07-02 19:21] lalitsharmaking commented on #1647
i  have succesfully resolved these problems but there are new problems in the code
`    // Copy google-services.json from variant directory to root of app

gradle.taskGraph.beforeTask { Task task ->
    if (task.name ==~ /process.*GoogleServices/) {
        android.applicationVariants.all { variant ->
            if (task.name ==~ /(?i)process${variant.name}GoogleServices/) {
                copy

[2022-07-02 19:24] mark2185 commented on #1647
Sadly, I can't. I never even heard of this project before you mentioned it on `lazygit's` issue board.

Hopefully someone from the dev team can help you. Good luck!

[2022-07-02 19:25] lalitsharmaking commented on #1647
` kotlinOptions {
    jvmTarget = JavaVersion.VERSION_11.toString()
    useIR = true
}
`
 it is also saying - a problem occured while evaluating the app

caused by : [groovy.lang.MissingPropertyException: Could not set unknown property 'useIR' for object of type org.jetbrains.kotlin.gradle.dsl.KotlinJvmOptionsImpl](https://stackoverflow.com/questions/72790822/groovy-lang-missingpropertyexception-c

[2022-07-02 19:25] lalitsharmaking commented on #1647
thank you brother for your response

[2022-09-20 17:01] Arkariang commented on #1647
Hello there @lalitsharmaking , the error indicates that some of the Firebase `google-services.json` are not available, as those are private configuration files, but there are some templates on the repository such as https://github.com/kickstarter/android-oss/blob/master/config/externalDebug/google-services.example.json
You can simple rename those files taking out the `.example` on your local proje

[2022-09-26 12:29] #1647 closed

[2022-09-26 12:29] #1483 closed